<div class="input-group mb-3">
    <h1>Formulario para insertar datos</h1>
  </div>
<div class="row card contenedor" style="height: 70vh;">
  <!-- <form>
    <fieldset disabled>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Nombre</label>
        <input type="text" id="disabledTextInput" class="form-control" placeholder="Ingrese su nombre">
      </div>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Apellido</label>
        <input type="text" id="disabledTextInput" class="form-control" placeholder="Ingrese su apellido">
      </div>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Correo</label>
        <input type="email" id="disabledTextInput" class="form-control" placeholder="Ingrese su correo">
      </div>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Telefono</label>
        <input type="text" id="disabledTextInput" class="form-control" placeholder="Ingrese su numero telefonico">
      </div>
      <div class="mb-3">
        <label for="disabledSelect" class="form-label">Programa de inteses</label>
        <select id="disabledSelect" class="form-select">
          <option>Disabled select</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Comentario</label>
        <input type="text-area" id="disabledTextInput" class="form-control" placeholder="Disabled input">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
  </form> -->
  <form ngNativeValidate [formGroup]="basicForm" novalidate >
    <div class="card padding2 card1 contenedor">
      <label for="formGroupExampleInput">Nombre</label>
      <input type="text" class="form-control  input" placeholder="Ingrese su nombre" name="name" formControlName="name" list="datalistOptions" id="exampleDataList">

      <label for="formGroupExampleInput">Apellido</label>
      <input type="text" class="form-control  input" placeholder="Ingrese su apellido" name="lastName" formControlName="family_name" list="datalistOptions" id="exampleDataList">

      <label for="formGroupExampleInput">Correo</label>
      <input type="email" class="form-control  input" placeholder="Ingrese su correo" name="email" formControlName="email" list="datalistOptions" id="exampleDataList">

      <label for="formGroupExampleInput">Teléfono</label>
      <input type="number" class="form-control  input" placeholder="Ingrese su contraseña" name="phone" formControlName="phone" list="datalistOptions" id="exampleDataList">
      <div *ngIf="basicForm.get('phone').errors?.maxlength"> No se permiten mas de 10 caracteres</div>
      <label for="formGroupExampleInput">Seleccione un programa</label>
      <!-- <input type="text" class="form-control  input" placeholder="Seleccione el rol" name="managerName" formControlName="role" list="datalistOptions" id="exampleDataList"> -->
      <select class="form-select input" aria-label="Default select example" formControlName="program">
        <option selected disabled> Seleccione un programa</option>
        <option *ngFor="let program of programas" [value]="program.id">{{program.name}}</option>
      </select>

      <label for="formGroupExampleInput">Comentario</label>
      <input type="text" class="form-control  input" placeholder="Ingrese su contraseña" name="coment" formControlName="comment" list="datalistOptions" id="exampleDataList">

    </div>
    
    <div align="center" style="margin-top: 2%;">
        <button class="btn btn-secondary boton1" (click)="onSubmit()">
            Crear cuenta
        </button>
    </div>
  </form>

</div>
