.contenedor {
    // border: 1px solid #aaa;
    background: #ffffff;
    border-color: #ffffff;
    overflow:auto;
    box-sizing: border-box;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.contenedor::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contenedor::-webkit-scrollbar:vertical {
    width:7px;
}

.contenedor::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.contenedor::-webkit-scrollbar:horizontal {
    height: 5px;
}

.contenedor::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #ffffff;
}

.contenedor::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.tarjeta{
    height: 25vh;
    padding: 10px;
}